<html>
    <head>
        <title>VirtComp - Register</title>
        <meta name="csrf-token" content="{% csrf_token %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <script src="/static/js/navbar.js"></script>
    </head>
    <body>
          <div id="app">
              <register-component></register-component>
          </div>
          <script src="/static/js/app.js"></script>
    </body>
</html>