<html>
    <head>
        <title>VirtComp - Corporation</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/design_v2/main.css"/>
        <link rel="stylesheet" href="/static/css/design_v2/horbox.css"/>
        <link rel="stylesheet" href="/static/css/custom.css"/>
        <script src="/static/js/navbar.js"></script>
    </head>
    <body>
          <div id="app">
                <homev2-component></homev2-component>
          </div>
          <script src="/static/js/app.js"></script>
    </body>
</html>